/*adds background color to whole webpage*/
body{
  background-color:rgb(236, 196, 203); 
  margin: 0px;
}

/*Header Styling*/
header, footer {
  background-color: white;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 10px;
  justify-content: center;
}

header nav{
  display: flex;
  justify-content: center;
  margin-right: 20px
}

header nav ul{
  display: flex;
  list-style: none;
}

header nav ul li a{
  text-decoration:none;
  margin-right: 10px;
}

header nav ul li:last-child a{
  margin-right: 0px;
}
/*Main Styling*/
 main{
      display:flex;
      flex-direction: column;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
  }

/*Text Styling*/
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  line-height: 5px;
  color:rgb(218, 167, 167);
  text-align: center;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 5px;
  margin-left: 20px;
  color:rgb(218, 167, 167);
  text-align: center;
}

h3{
  font-family:'Times New Roman', Times, serif;
  color:grey;
  text-align: left;
  margin: 20px 0 10px 20px;
}

h4{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(82, 75, 75); 
    line-height: 5px;
}

p {
  font-family:'Courier New', Courier, monospace;
  font-size: 13px;
}

ul {
  list-style: none;
  font-family:'Courier New', Courier, monospace;
  font-size: 13px;
}

ol{
  font-family:'Courier New', Courier, monospace;
  font-size: 13px;
}

footer p{
  text-align:center;
}


/*styles the border between sections*/
hr{
  height:2px;
  background-color: rgb(170, 64, 82);
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*display styling*/
.group{
  display: flex;
  flex-direction: column;
}

.item{
  flex: 1;
  margin: 20px;
}

.item img{
    width:100%;
}

.item2{
  flex: 2;
  margin:20px;
}

 /* link rollover colors*/
 a:link {color: rgb(218, 167, 167)}
 a:visited {color: rgb(218, 114, 114)}
 a:hover {color:grey}
 a:active {color:rgb(128, 85, 85)}

/*adjustment for screen size*/
@media all and (min-width: 800px) {
  .group{
    flex-direction: row;
  }

  header{
    display: flex;
    justify-content: space-between;
  }

  header h1{
    margin: 20px 20px;
  }

  header nav{
    padding-top: 10px;
  }
}
